@import url(https://fonts.google.com/specimen/Outfit/tester?query=outfit);
body {
    background-color: #3a31b1;
    font-family:'outfit', sans-serif;

}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 30px;
    color: #51E0BE;
}

.logo img {
    max-width: 60px;
}


.input h1 {
    color: white;
}


.add-task label :first-child {
    display: flex;
    justify-content: center;

}

.input h1 {
    display: flex;
    justify-content: center;
    margin-top: 0%;
}

h2 {
    margin-top: 60px;
    margin-left: 180px;
    color: white 
  

}

.add-button {
    display: flex;
    justify-content: center;
}

.date-time {
    margin-left: 150px;
    margin-right: 150px;    
    gap: 20px;


}

h1 {
    display: flex;
    justify-content: center;
    color: white
}

.date-time input {
    background-color: #51E0BE;    
    border: 1px solid #ccc;
    border-radius: 10px;
    /* Adjust the value to control the roundness */
    margin-top: 20px;
    
}

.input {
    margin-left: 300px;
    background-color: white;     
    border: 1px solid #ccc;
    border-radius: 10px;
    /* Adjust the value to control the roundness */
    padding: 8px;
    width: 700px
    
}





.para
{
    margin-bottom: 8px;
    font-size: 0.8em;
}

.btn-group
{
    display: flex;
    gap: 8px;
}

button
{
    flex-grow: 1;
    height: 25px;
    border-radius: 8px; 
}

.btn-danger
{
    background-color: red;
    border: none;
}

.btn-update
{
    background-color: green;
    border: none;
}

.task-list
{
    display: flex;
    flex-direction: row;
    color: black;
    border: #0A0A0A 3px;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;    
}

.border
{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: white;   
    
}

.task-image
{
    margin-top: 20px;
}

.btn-group
{
    margin-top: 20px;  
}
 
.task-name
{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    color: black;
    
    
}


.input input {
    background-color: #51E0BE;
    height: 30px;
    border-radius: 10px;
}

.date-time 
{
    display: flex;
    justify-content: space-between;
    height: 10px;
    align-items: center;
    
}
.add-button {
    display: flex;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 200px;
    margin-right: 300px;   
    width: 300px;
}

.add-button button:hover {
    background-color: #333; /* Change the color when hovering if desired */
}


/* CSS */
.outlined {
    border: 1px solid #000; /* Change the color and border properties as desired */
    padding: 10px; /* Adjust padding as needed */
    margin: 10px; /* Adjust margin as needed */
    display: inline-block; /* Makes the elements behave like inline-block elements */
    background-color: white;
    border-radius: 10px;
}

.date-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    border-radius: 10px;
}
